body {
  background-color: #92acee;
  background-image: url("DeathEgg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

header {
  position: relative;
  background-color: #92acee;
  padding: 3%;
  margin: -10px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

* {
  font-family: "Times New Roman", Times, serif;
}

h2,
a {
  padding: 5px;
  background-color: #92a1ee;
  font-size: 24px;
}
ul {
  display: inline-block;
  margin-left: 5%;
  padding: 5px;
  padding-left: 30px;
  background-color: #92a1ee;
  font-size: 24px;
  line-height: 60px;
}

.content-container {
  background-color: #92acee;
  width: 81%;
  padding-top: 10px;
  padding-bottom: 7%;
  border-radius: 10px;
  margin: auto;
}

.content-container p {
  display: inline-block;
  text-align: center;
  padding: 5px;
  background-color: #92a1ee;
  font-size: 24px;
  margin-left: 25%;
}

.content-container h1 {
  text-align: center;
  display: inline-block;
  margin-left: 5%;
  padding: 5px;
  font-size: 64px;
  background-color: #92a1ee;
}

.novak1 {
  margin-top: 25px;
  float: right;
  margin-right: 20%;
  height: 541px;
  width: 546px;
}
@media screen and (max-width: 950px) {
  .novak1 {
    width: 80%;
    height: auto;
    float: none;
    margin: 20px auto;
    display: block;
  }

  .content-container p {
    margin-left: 5%;
    text-align: left;
  }
}

.persona {
  font-size: 64px;
}
